@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab');

body {
  background-color: #0054B2;
  font-family: 'Roboto', sans-serif;
  color: white;
}

h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 50px;
  text-align: center;
}

.center {
  text-align: center;
}

/* Header */
#header {
  margin: 10px;
  padding: 10px;
  background-color: #0078FF;
  border-radius: 10px;
}

/* Article */
#article {
  text-align: center;
  display: block;
  width: 100%;
}

#article p {
  font-size: 12px;
  text-align: center;
}

.thumbnail img {
  width: 100px;
  opacity: 0.5;
}

.thumbnail {
  display: inline-block;
  margin: 10px;
}

.imgBar {
  border-style: ridge;
  border-width: 15px;
  border-color: #0078FF;
}

#largeImg {
  display: none;
}

/* lightbox is shown even if displayed as NONE, fix the #articles and stuff */
.chicken {
  width: 100%;
  height: 400px;
  padding-top: 20px;
}

#lightbox {
  position: relative;
  text-align: center;
  margin: 0px;
  width: 100%;
  height: 60%;
  display: block;
}

/* Footer */
#footer {
  background-color: #0078FF;
  width: 100%;
  text-align: center;
}

#footer h1 {
  margin: 10px;
}

#footer p {
  margin: 10px;
  padding: 15px;
}
