@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab');

body {
  background-color: #0054B2;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 50px;
  text-align: center;
}

/* Header */
#header {
  margin: 10px;
  padding: 10px;
  background-color: #0078FF;
  border: 1px pink dashed;
}

/* Article */
#article {
  margin: 10px;
}

#article p {
  font-size: 12px;
  text-align: center;
}

#article div {
  display: inline-block;
  margin: 10px;
}

#article div img {
  width: 100px;
}

/* lightbox is shown even if displayed as NONE, fix the #articles and stuff */ 
#lightbox {
  position: absolute;
  text-align: center;
  margin: 25px auto;
  background-color: white;
  width: 80%;
  height: 80%;
  display: none;
}

/* Footer */
#footer {
  background-color: #0078FF;
  width: 100%;
  bottom: 0;
  position: fixed;
  text-align: center;
}

#footer h1 {
  margin: 10px;
}

#footer p {
  margin: 10px;
}
